.experiencia{
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 2%;
}
@media screen and (max-width: 768px) {
    .experiencia {
        flex-direction: column;
        width: 179vw;
    }
}
@media screen and (max-width: 375px) {
    .experiencia {
        position: relative;
        left: -34%;
    }
}
.imagen__experiencia{
    display: flex;
    flex-basis: 1 1 60%;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 1%;
}
.imagen__experiencia img{
    width: 100%;
}
@media screen and (max-width: 375px) {
    .imagen__experiencia img {
        position: relative;
        right: -35%;;
    }
}
.ver__demo{
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
}@media screen and (max-width: 768px) {
    .ver__demo {
        margin-left: 0%;
        margin-right: 0%;
        width: 15%;
    }
}
.ver__demo h3{
    font-size: 2rem;
    font-weight: bold;
    color: #464646;
    text-align: left;
    margin-bottom: 2%;
    margin-top: 5%;
    font-weight: bold;
}
.ver__demo h4{
    font-size: 1rem;
    font-weight: bold;
    color: #464646;
    text-align: left;
    margin-bottom: 5%;
    margin-top: 5%;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    #demo {
        position: relative;
        top: 66%;
    }
    #imagen{
        position: relative;
        top: -32%;
    }
}
@media screen and (max-width: 375px) {
    #demo {
        position: relative;
        top: 0%;
    }
    .botones{
        display: flex;
        gap: 10px;
        width: 30vh;
    }
    .ver__demo h3{
        width: 30vh;
    }
    .ver__demo h4{
        width: 30vh;
    }
    #imagen{
        position: relative;
        top: -45%;
    }
    #demo {
        position: relative;
        top: 53%;
    }
}

.btn__blanco{
    color: #2A7AE4;
    border-color: #2A7AE4;
    border-style: double;
}
.btn__blanco::after{
    color: #0851b1;
    border-color: #0851b1;
    border-style: double;
}
.btn__azul{
    padding: 1rem 1rem;
    color: white;
    border-color: #2A7AE4;
    border-style: double;
    background: #2A7AE4;
}
@media screen and (max-width: 375px) {
    .btn__azul{
        padding: 0.5rem 0.5rem;
    }
}
