@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.icono__nombre{
    width: 20vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #464646;
}
@media screen and (max-width: 768px) {
    .icono__nombre{
        font-size: 1rem;
    }
}
nav{
    padding-left: 13%;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #464646;
}
nav li{
    display: inline-block;
    width: 100px;
    color: #464646;
    justify-content: flex-start;
}
@media screen and (max-width: 768px) {
    nav li:nth-child(-n+5) {
        display: none;
    }
    nav li:nth-child(6) {
        position: absolute;
        right: 21%;
        top: 1.5%;
    }
}
@media screen and (max-width: 375px){
    nav li:nth-child(6) {
        position: absolute;
        right: 35%;
        top: 1.5%;
    }
}
