@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.contenedor__principal{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 70vw;
    justify-content: center;
    margin-top: 5%;
}
@media screen and (max-width: 768px) {
    .contenedor__principal {
        margin-top: 0%;
        transform: scale(1.0);
        position: relative;
        left: 6%;
        top: 1%;
    }
}
@media screen and (max-width: 375px) {
    .contenedor__principal {
        width: 90vw;
        position: relative;
        top: 0%;
        left: 0%;
    }
}
.texto__principal{
    display: flex;
    flex-basis: 1 1 60%;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 375px) {
    .texto__principal {
        transform: scale(0.9);
        top: 20%;
        left: 46%;
        position: relative;
    }
}
.texto__principal ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5%;
    font-size: 1.5em;
    text-align: left;
    justify-content: center;
}
@media screen and (max-width: 375px) {
    .texto__principal ul {
        margin-left: -9%;
    }
}
.icono{
    font-size: 2rem;
    margin-right: 5px;
    color: #464646;
}
.imagen__principal{
    display: flex;
    flex-basis: 1 1 40%;
    border-radius: 50%;
    justify-content: center;
}
.imagen__principal img{
    border-radius: 50%;
}
@media screen and (max-width: 768px) {
    .imagen__principal img {
        transform: scale(0.6);
        top: -13%;
        position: relative;
    }
}
@media screen and (max-width: 375px) {
    .imagen__principal img {
        transform: scale(0.2);
        top: -33%;
        left: -58%;
        position: relative;
    }
}
