.skills{
    width: 90vw;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.cuadroCarousel{
    display: flex;
    flex-direction: row;
}
.cuadroCarousel img{
    width: 150px;
    height: 150px;
}
.skills #centro {
    text-align: center;
}
.cuadro__skills{
    width: 80vw;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .cuadro__skills {
        width: 95vw;
        display: flex;
        gap: 31px;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px) {
    .cuadro__skills {
        gap: 10px;
    }
}
.subcuadro__skills{
    width: 10rem;
    height: 10rem;
    background: white;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .subcuadro__skills{
        width: 11rem;
        height: 11rem;
    }
}
.icono__skills{
    font-size: 4rem;
    margin-right: 5px;
    color: #2172eb;
}
